*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(Images/gallery3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
}
.container h1{
    font-size: 40px;
}
.image-container{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns:1fr 1fr 1fr;
    gap: 5px;
}

.image{
    width: 200px;
    height: 200px;
    border: 5px solid white;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
    overflow: hidden;
}
.image:hover{
    width: 200px;
    height: 150px;
}
.display-image{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;

}
.display-image span{
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 50px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    z-index: 100;
}
.display-image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 5px solid white;
    border-radius: 10px;
    width: 650px;
    height: 450px;
    object-fit: cover;
}

